.env
config.py
.idea
data/towns_images/*
data/avatars_images/*
data/chromedriver
data/towns_wallets.txt
profiles.csv
test.py
/data/profiles_data.json
/.ipynb_checkpoints
all_profiles.csv
towns_selenium.ipynb
logfile.log
data/messages.json